In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

df.men.mean() - df.women.mean()

12.469999999999999

In [37]:
n1 = [2, 7, 4, 3, 6, 4, 1, 2]
n2 = [5, 2, 4, 8, 1, 6, 7]

median1 = np.median(n1)
median2 = np.median(n2)
quantile1 = np.percentile(n1, [25, 50, 75])
quantile2 = np.percentile(n2, [25, 50, 75])
print(quantile1)
print(quantile2)

[2.  3.5 4.5]
[3.  5.  6.5]

In [10]:
df = pd.DataFrame({
    'mens': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

df.median()

mens      75.6
womens    57.6
dtype: float64

In [23]:
patients = df.mens.tolist() + df.womens.tolist()
np.median(patients)

#Можно заменить
pd.concat([df['mens'], df['womens']]).median()

59.6

In [48]:
df = pd.DataFrame({
    'mens': [80, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

df.quantile(0.5, axis=0, numeric_only=True, interpolation='linear') # По умолчанию используется линейная интерполяция
df.quantile(0.5, axis=0, numeric_only=True, interpolation='midpoint') # Чтобы вычислять квантиль как среднее между двумя точками в части данных, необходимо сменить вид интерполяции

mens      75.6
womens    57.6
Name: 0.5, dtype: float64

In [50]:
df = pd.DataFrame({
    'mens': [80, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

round(df.quantile([0.25, 0.75], axis=0, numeric_only=True, interpolation='midpoint'), 1)

      mens  womens
0.25  58.6    53.9
0.75  79.0    60.4

In [52]:
import pandas as pd

df = pd.DataFrame({
    'mens': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

display(df.max() - df.min())

mens      47.5
womens    24.6
dtype: float64

In [53]:
display(df.quantile(0.75, axis=0, numeric_only=True, interpolation='midpoint') - 
       df.quantile(0.25, axis=0, numeric_only=True, interpolation='midpoint'))

mens      20.45
womens     6.45
dtype: float64

In [55]:
display(np.std(df, ddof=1))
display(np.var(df, ddof=1))

mens      15.182534
womens     8.271108
dtype: float64

mens      230.509333
womens     68.411222
dtype: float64