In [1]:
import pandas as pd
import numpy as np

log = pd.read_csv('log.csv', header=None, names=['user_id', 'time', 'bet', 'win'])
users = pd.read_csv('users.csv', encoding='koi8_u', sep='\t')

In [ ]:
log_null = list(filter(lambda x: x, log.time.isna()))
len(log_null)

log.time.isna().sum()

In [ ]:
log.isnull().sum()

In [ ]:
log_del = log[['user_id', 'time']].dropna(axis=1)
log_del.info()

In [ ]:
log_not_dupl = log.drop_duplicates(subset=['user_id', 'time'])
log_not_dupl.info()

In [2]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [3]:
log.dropna(axis=0, subset=['time'], inplace=True)
log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 0 to 995
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  985 non-null    object
 1   time     985 non-null    object
 2   bet      472 non-null    float64
 3   win      133 non-null    float64
dtypes: float64(2), object(2)
memory usage: 38.5+ KB

In [4]:
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [5]:
log['time'] = log.time.apply(lambda x: x[1:])
log.head()

                            user_id                 time  bet  win
0  Запись пользователя № - user_919  2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  2019-01-01 21:31:18  NaN  NaN

In [6]:
from datetime import datetime, timedelta

In [7]:
#log['time'] = log.time.apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

log['time'] = pd.to_datetime(log['time'])

In [8]:
log.time.head()

0   2019-01-01 14:06:51
1   2019-01-01 14:51:16
2   2019-01-01 16:31:16
3   2019-01-01 17:17:51
4   2019-01-01 21:31:18
Name: time, dtype: datetime64[ns]

In [ ]:
log.time.max().strftime('%Y-%m-%d')

In [ ]:
log.loc[28]

In [ ]:
year_column = log['time'].apply(lambda x: x.year)  

#Библиотека pandas позволяет использовать аксессор dt для упрощения подобной работы:
#year_column = log['time'].dt.year 

'''Аксессор - это атрибут столбца, который хранит переменные типа Timestamp, то есть переменные, 
которые были строковым представлением времени, а затем изменены с помощью pd.to_datetime(). 
Если вы попытаетесь обратиться к dt у столбца, в котором лежит что-то отличное от времени, вы получите ошибку.'''

In [ ]:
minute_colum = log['time'].dt.minute
minute_colum.value_counts().head()

In [ ]:
month_colum = log['time'].dt.month
month_colum.value_counts(ascending=True).head()

In [ ]:
day_week = log.time.dt.dayofweek
#day_week = log['time'].apply(lambda x: x.dayofweek)
day_week.value_counts()

In [9]:
time_day = []

for time in log.time:
    if 0 <= time.hour <= 5:
        time_day.append('night')
    elif 6 <= time.hour <= 11:
        time_day.append('morning')
    elif 12 <= time.hour <= 17:
        time_day.append('day')
    else:
        time_day.append('evening')

log['time_day'] = time_day
log.time_day.value_counts()

night      265
morning    253
day        240
evening    227
Name: time_day, dtype: int64