In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta

In [2]:
main = pd.read_csv('main_task.csv')

In [3]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [4]:
main.head(5)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [ ]:
main.iloc[16]

In [ ]:
list_city = list(main['City'].unique())

In [5]:
main['City'].value_counts()

London        5757
Paris         4897
Madrid        3108
Barcelona     2734
Berlin        2155
Milan         2133
Rome          2078
Prague        1443
Lisbon        1300
Vienna        1166
Amsterdam     1086
Brussels      1060
Hamburg        949
Munich         893
Lyon           892
Stockholm      820
Budapest       816
Warsaw         727
Dublin         673
Copenhagen     659
Athens         628
Edinburgh      596
Zurich         538
Oporto         513
Geneva         481
Krakow         443
Oslo           385
Helsinki       376
Bratislava     301
Luxembourg     210
Ljubljana      183
Name: City, dtype: int64

In [6]:
main['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [7]:
main['Cuisine Style'].fillna("['Not data']", axis=0, inplace=True)
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [8]:
main['Cuisine Style'] = main['Cuisine Style'].apply(lambda x: x[2:-2])

In [10]:
main['Cuisine Style'] = main['Cuisine Style'].str.split("', '")

In [11]:
main['Cuisine Style']

0                        [European, French, International]
1                                               [Not data]
2        [Japanese, Sushi, Asian, Grill, Vegetarian Fri...
3                                               [Not data]
4          [German, Central European, Vegetarian Friendly]
                               ...
39995    [Italian, Vegetarian Friendly, Vegan Options, ...
39996    [French, American, Bar, European, Vegetarian F...
39997                                    [Japanese, Sushi]
39998    [Polish, European, Eastern European, Central E...
39999                                            [Spanish]
Name: Cuisine Style, Length: 40000, dtype: object

In [12]:
cuisins = set()
for cuisins_style in main['Cuisine Style']:
    for cuisin in cuisins_style:
        cuisins.add(cuisin)

len(cuisins)

126

In [13]:
popular_cuisins = {}
for item in cuisins:
    popular_cuisins[item] = 0
for cuisins in main['Cuisine Style']:
    for item in cuisins:
        popular_cuisins[item] += 1
        
popular_cuisins

{'Moroccan': 141,
 'Scandinavian': 342,
 'Delicatessen': 392,
 'Eastern European': 496,
 'Japanese': 1464,
 'Turkish': 444,
 'Salvadoran': 1,
 'Pub': 2449,
 'Australian': 24,
 'Belgian': 270,
 'Malaysian': 31,
 'Singaporean': 19,
 'Steakhouse': 573,
 'American': 1315,
 'Jamaican': 25,
 'Fusion': 577,
 'Venezuelan': 40,
 'Colombian': 20,
 'Thai': 743,
 'Hungarian': 352,
 'Pakistani': 123,
 'Canadian': 5,
 'International': 1584,
 'Barbecue': 555,
 'Street Food': 263,
 'African': 154,
 'Grill': 490,
 'Vegan Options': 4486,
 'Contemporary': 523,
 'Tunisian': 21,
 'Not data': 9283,
 'Egyptian': 20,
 'Austrian': 380,
 'French': 3190,
 'Czech': 595,
 'Azerbaijani': 2,
 'Native American': 4,
 'Indian': 1041,
 'Gluten Free Options': 4113,
 'Romanian': 10,
 'Asian': 3011,
 'Lebanese': 329,
 'Yunnan': 1,
 'Minority Chinese': 11,
 'Greek': 604,
 'Uzbek': 5,
 'German': 662,
 'Bar': 3297,
 'Brew Pub': 225,
 'Taiwanese': 22,
 'Sushi': 1156,
 'Korean': 167,
 'Pizza': 2849,
 'Indonesian': 59,
 'Burmese': 1,
 'Cafe': 2325,
 'Vietnamese': 513,
 'Healthy': 620,
 'Central European': 1393,
 'Balti': 83,
 'Albanian': 8,
 'Chinese': 1145,
 'Halal': 598,
 'Welsh': 2,
 'Ethiopian': 42,
 'Cuban': 23,
 'Polish': 365,
 'Israeli': 74,
 'Cajun & Creole': 20,
 'South American': 372,
 'Central Asian': 12,
 'Scottish': 163,
 'Argentinean': 169,
 'Vegetarian Friendly': 11189,
 'Mediterranean': 6277,
 'Mexican': 445,
 'Georgian': 17,
 'Portuguese': 1107,
 'Ecuadorean': 4,
 'Brazilian': 127,
 'New Zealand': 6,
 'Filipino': 12,
 'Seafood': 1505,
 'Chilean': 8,
 'Danish': 177,
 'Middle Eastern': 782,
 'Bangladeshi': 76,
 'Spanish': 2798,
 'Swedish': 171,
 'Central American': 135,
 'Arabic': 51,
 'Kosher': 48,
 'Irish': 284,
 'Fujian': 2,
 'Latvian': 1,
 'Latin': 302,
 'European': 10060,
 'Swiss': 178,
 'Xinjiang': 1,
 'Diner': 295,
 'Wine Bar': 697,
 'Southwestern': 17,
 'Tibetan': 24,
 'Sri Lankan': 25,
 'British': 1595,
 'Russian': 58,
 'Afghani': 22,
 'Cambodian': 20,
 'Caribbean': 93,
 'Soups': 494,
 'Hawaiian': 21,
 'Gastropub': 471,
 'Croatian': 27,
 'Slovenian': 68,
 'Nepali': 83,
 'Dutch': 294,
 'Persian': 53,
 'Caucasian': 4,
 'Armenian': 14,
 'Polynesian': 2,
 'Italian': 5964,
 'Ukrainian': 18,
 'Fast Food': 1705,
 'Mongolian': 14,
 'Norwegian': 75,
 'Peruvian': 94}

In [14]:
main['Many cuisins'] = main['Cuisine Style'].apply(lambda x: len(x))

In [15]:
main['Many cuisins'].mean()

2.6224

In [16]:
main['Reviews'][0]

"[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]"

In [17]:
main['Reviews'][3]

'[[], []]'

In [18]:
main['Data reviews'] = main['Reviews'].apply(lambda x: re.findall(r'\d{2}/\d{2}/\d{4}', x))

In [19]:
main['Data reviews'].head(20)

0     [12/31/2017, 11/20/2017]
1     [07/06/2017, 06/19/2016]
2     [01/08/2018, 01/06/2018]
3                           []
4     [11/18/2017, 02/19/2017]
5     [09/16/2017, 05/31/2017]
6     [08/04/2017, 11/05/2017]
7     [02/16/2014, 06/13/2012]
8                           []
9     [11/07/2017, 03/27/2017]
10                          []
11    [12/15/2017, 11/22/2017]
12    [01/07/2018, 12/27/2017]
13    [07/25/2017, 05/30/2017]
14                          []
15    [12/01/2017, 09/14/2017]
16                [04/12/2017]
17    [02/28/2017, 10/31/2016]
18    [08/16/2017, 10/21/2016]
19    [04/12/2016, 08/13/2015]
Name: Data reviews, dtype: object

In [20]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
 10  Many cuisins       40000 non-null  int64
 11  Data reviews       40000 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 3.7+ MB

In [ ]:
log['time'] = pd.to_datetime(log['time'])