In [11]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta

In [12]:
main = pd.read_csv('main_task.csv')

In [ ]:
main.info()

In [ ]:
main.head(5)

In [ ]:
main.iloc[16]

In [ ]:
list_city = list(main['City'].unique())

In [ ]:
main['City'].value_counts()

In [ ]:
main['Price Range'].value_counts()

In [13]:
main['Cuisine Style'].fillna("['Not data']", axis=0, inplace=True)
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [14]:
main['Cuisine Style'] = main['Cuisine Style'].apply(lambda x: x[2:-2])

In [15]:
main['Cuisine Style'] = main['Cuisine Style'].str.split("', '")

In [ ]:
main['Cuisine Style']

In [16]:
cuisins = set()
for cuisins_style in main['Cuisine Style']:
    for cuisin in cuisins_style:
        cuisins.add(cuisin)

len(cuisins)

126

In [17]:
popular_cuisins = {}
for item in cuisins:
    popular_cuisins[item] = 0
for cuisins in main['Cuisine Style']:
    for item in cuisins:
        popular_cuisins[item] += 1

[('Xinjiang', 1),
 ('Burmese', 1),
 ('Latvian', 1),
 ('Salvadoran', 1),
 ('Yunnan', 1),
 ('Fujian', 2),
 ('Polynesian', 2),
 ('Welsh', 2),
 ('Azerbaijani', 2),
 ('Native American', 4),
 ('Caucasian', 4),
 ('Ecuadorean', 4),
 ('Uzbek', 5),
 ('Canadian', 5),
 ('New Zealand', 6),
 ('Albanian', 8),
 ('Chilean', 8),
 ('Romanian', 10),
 ('Minority Chinese', 11),
 ('Central Asian', 12),
 ('Filipino', 12),
 ('Armenian', 14),
 ('Mongolian', 14),
 ('Southwestern', 17),
 ('Georgian', 17),
 ('Ukrainian', 18),
 ('Singaporean', 19),
 ('Cajun & Creole', 20),
 ('Colombian', 20),
 ('Egyptian', 20),
 ('Cambodian', 20),
 ('Tunisian', 21),
 ('Hawaiian', 21),
 ('Afghani', 22),
 ('Taiwanese', 22),
 ('Cuban', 23),
 ('Australian', 24),
 ('Tibetan', 24),
 ('Sri Lankan', 25),
 ('Jamaican', 25),
 ('Croatian', 27),
 ('Malaysian', 31),
 ('Venezuelan', 40),
 ('Ethiopian', 42),
 ('Kosher', 48),
 ('Arabic', 51),
 ('Persian', 53),
 ('Russian', 58),
 ('Indonesian', 59),
 ('Slovenian', 68),
 ('Israeli', 74),
 ('Norwegian', 75),
 ('Bangladeshi', 76),
 ('Nepali', 83),
 ('Balti', 83),
 ('Caribbean', 93),
 ('Peruvian', 94),
 ('Pakistani', 123),
 ('Brazilian', 127),
 ('Central American', 135),
 ('Moroccan', 141),
 ('African', 154),
 ('Scottish', 163),
 ('Korean', 167),
 ('Argentinean', 169),
 ('Swedish', 171),
 ('Danish', 177),
 ('Swiss', 178),
 ('Brew Pub', 225),
 ('Street Food', 263),
 ('Belgian', 270),
 ('Irish', 284),
 ('Dutch', 294),
 ('Diner', 295),
 ('Latin', 302),
 ('Lebanese', 329),
 ('Scandinavian', 342),
 ('Hungarian', 352),
 ('Polish', 365),
 ('South American', 372),
 ('Austrian', 380),
 ('Delicatessen', 392),
 ('Turkish', 444),
 ('Mexican', 445),
 ('Gastropub', 471),
 ('Grill', 490),
 ('Soups', 494),
 ('Eastern European', 496),
 ('Vietnamese', 513),
 ('Contemporary', 523),
 ('Barbecue', 555),
 ('Steakhouse', 573),
 ('Fusion', 577),
 ('Czech', 595),
 ('Halal', 598),
 ('Greek', 604),
 ('Healthy', 620),
 ('German', 662),
 ('Wine Bar', 697),
 ('Thai', 743),
 ('Middle Eastern', 782),
 ('Indian', 1041),
 ('Portuguese', 1107),
 ('Chinese', 1145),
 ('Sushi', 1156),
 ('American', 1315),
 ('Central European', 1393),
 ('Japanese', 1464),
 ('Seafood', 1505),
 ('International', 1584),
 ('British', 1595),
 ('Fast Food', 1705),
 ('Cafe', 2325),
 ('Pub', 2449),
 ('Spanish', 2798),
 ('Pizza', 2849),
 ('Asian', 3011),
 ('French', 3190),
 ('Bar', 3297),
 ('Gluten Free Options', 4113),
 ('Vegan Options', 4486),
 ('Italian', 5964),
 ('Mediterranean', 6277),
 ('Not data', 9283),
 ('European', 10060),
 ('Vegetarian Friendly', 11189)]

In [25]:
sorted(popular_cuisins.items(), key=lambda kv: kv[1])[0:50]

[('Xinjiang', 1),
 ('Burmese', 1),
 ('Latvian', 1),
 ('Salvadoran', 1),
 ('Yunnan', 1),
 ('Fujian', 2),
 ('Polynesian', 2),
 ('Welsh', 2),
 ('Azerbaijani', 2),
 ('Native American', 4),
 ('Caucasian', 4),
 ('Ecuadorean', 4),
 ('Uzbek', 5),
 ('Canadian', 5),
 ('New Zealand', 6),
 ('Albanian', 8),
 ('Chilean', 8),
 ('Romanian', 10),
 ('Minority Chinese', 11),
 ('Central Asian', 12),
 ('Filipino', 12),
 ('Armenian', 14),
 ('Mongolian', 14),
 ('Southwestern', 17),
 ('Georgian', 17),
 ('Ukrainian', 18),
 ('Singaporean', 19),
 ('Cajun & Creole', 20),
 ('Colombian', 20),
 ('Egyptian', 20),
 ('Cambodian', 20),
 ('Tunisian', 21),
 ('Hawaiian', 21),
 ('Afghani', 22),
 ('Taiwanese', 22),
 ('Cuban', 23),
 ('Australian', 24),
 ('Tibetan', 24),
 ('Sri Lankan', 25),
 ('Jamaican', 25),
 ('Croatian', 27),
 ('Malaysian', 31),
 ('Venezuelan', 40),
 ('Ethiopian', 42),
 ('Kosher', 48),
 ('Arabic', 51),
 ('Persian', 53),
 ('Russian', 58),
 ('Indonesian', 59),
 ('Slovenian', 68)]

In [ ]:
main['Many cuisins'] = main['Cuisine Style'].apply(lambda x: len(x))

In [ ]:
main['Many cuisins'].mean()

In [ ]:
main['Reviews'][0]

In [ ]:
main['Reviews'][3]

In [ ]:
main['Date reviews'] = main['Reviews'].apply(lambda x: re.findall(r'\d{2}/\d{2}/\d{4}', x))

In [ ]:
main['Date reviews'].head(20)

In [ ]:
main.info()

In [ ]:
time_date = set()
for date_reviews in main['Date reviews']:
    for date in date_reviews:
        time_date.add(date)

time_date = list(time_date)
#time_date = time_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
time_date = [datetime.strptime(x, '%m/%d/%Y') for x in time_date]

In [ ]:
import time

time.ctime(max(list(map(datetime.timestamp, time_date))))

In [ ]:
for i in range(len(main['Date reviews'])):
    main['Date reviews'][i] = [datetime.strptime(x, '%m/%d/%Y') for x in main['Date reviews'][i]]

In [ ]:
main['Date reviews'][0]

In [ ]:
max_time_delta = 0
for date_reviews in main['Date reviews']:
    if len(date_reviews) == 2:
        delta = abs(date_reviews[0] - date_reviews[1])
        if delta.days > max_time_delta:
            max_time_delta = delta.days
            
            
max_time_delta