In [67]:
import pandas as pd
import numpy as np

log = pd.read_csv('log.csv', header=None, names=['user_id', 'time', 'bet', 'win'])
users = pd.read_csv('users.csv', encoding='koi8_u', sep='\t')

In [69]:
log_null = list(filter(lambda x: x, log.time.isna()))
len(log_null)

log.time.isna().sum()

15

In [68]:
log.isnull().sum()

user_id      0
time        15
bet        515
win        862
dtype: int64

In [66]:
log_del = log.dropna(subset=['user_id', 'time'])
log_del.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [64]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB