In [41]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
display(ratings.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

None

In [11]:
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()
movies.drop_duplicates(subset='movieId', keep='first', inplace=True)
joined = ratings.merge(movies, on = 'movieId', how = 'outer')
display(joined)

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [55]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
mov_rat = movies.merge(ratings, on='movieId', how='outer')
display(mov_rat[mov_rat.movieId == 3456])

,movieId,title,genres,userId,rating,timestamp
54467,3456,"Color of Paradise, The (Rang-e khoda) (1999)",Drama,NaN,NaN,NaN

In [30]:
items_dict = {
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
}

purchase_log = {
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
}

items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)
joined = items_df.merge(purchase_df, on='item_id', how='inner')
joined['revenue'] = joined['stock_count'] * joined['price']
display(joined.sort_values('revenue', ascending=False))
print('Total revenue: ', joined['revenue'].sum(), sep='')

   item_id   vendor  stock_count  purchase_id  price  revenue
6   382043  Samsung           77          145  67500  5197500
7   302948  Samsung          143          145  34500  4933500
2   132223    Apple          122          101  38200  4660400
5  3294095    Apple           43          145  33000  1419000
4    19475       LG          102          121   9890  1008780
3   573943    Apple           18          112  49990   899820
0   417283  Samsung           54          101  13900   750600
8   100132       LG           60          221  11400   684000
1   849734       LG           33          101   5330   175890

Total revenue: 19729490

In [31]:
import os
files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [35]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for i in files:
    if '.txt' in i:
        data.append(i)
print(data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [38]:
files = os.listdir('data')
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for i in files:
    temp = pd.read_csv(os.path.join('data', i), names = ['userId', 'movieId', 'rating', 'timestamp'])
    data = pd.concat([data, temp])
display(len(data))

100004