In [1]:
import pandas as pd
football = pd.read_csv('data_sf.csv')
df = football.groupby(['Club'])['Wage'].agg(['mean', 'median'])
df_df = df.reset_index()
df_df = df_df.astype({'mean': int})
display(df_df[df_df['mean'] == df_df['median']].sort_values(['mean'], ascending=False).head())

            Club   mean  median
168     Cruzeiro  13000   13000
284   Göztepe SK   7000    7000
99    Brøndby IF   6000    6000
567   Sunderland   4000    4000
108  CD Feirense   4000    4000

In [ ]:
df = pd.read_csv('data_sf.csv')
df2 = df.pivot_table(values=['Name'], index=['Position'], columns=['Club'], aggfunc='count', fill_value=0)
s_df2 = df2.loc['CM']['Name'].reset_index()
display(len(s_df2.loc[s_df2.CM == 0]))

In [ ]:
df = pd.read_csv('data_sf.csv')
df2 = df.pivot_table(values=['Wage'], index=['Nationality'], columns=['Club'], aggfunc='sum', fill_value=0)
display(df2.loc['Russia']['Wage']['AS Monaco'])

In [17]:
df = pd.read_csv('data_sf.csv')
#df.info()
df2 = df.pivot_table(values=['SprintSpeed'], index=['Position'], columns=['Club'], aggfunc='mean', fill_value=0)
s_df = df.groupby(['Position'])['SprintSpeed'].mean().sort_values(ascending=False)
s_df2 = df2.loc['ST']['SprintSpeed'].sort_values(ascending=False)
#ss_df2 = s_df2.reset_index()
#ss_df2.ST.sort_values(ascending=False)
display(s_df2.head(10))

Club
Vitória              91.000000
Sydney FC            88.000000
CD Lugo              87.000000
Brøndby IF           84.666667
Leicester City       84.500000
Feyenoord            84.000000
FC Bayern München    84.000000
FC Zürich            84.000000
KRC Genk             84.000000
Manchester United    84.000000
Name: ST, dtype: float64