In [1]:
import pandas as pd
import numpy as np

log = pd.read_csv('log.csv', header=None, names=['user_id', 'time', 'bet', 'win'])

In [2]:
log.info()
log.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

"Bet" означает "ставка".  Некоторые значения в данных заполнены цифрами - поэтому мы можем сделать предположение, что это сумма в рублях, т.е. ставка. 

Можно также предположить, что если в данных в этом месте пропуск - значит, человек не делал ставку. Другими словами, ставка в данном случае равна 0.

In [3]:
log.bet = log['bet'].fillna(0)
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  0.0  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  0.0  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  0.0  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  0.0  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  0.0  NaN

In [4]:
len(log.loc[log.bet == 0])

515

In [9]:
def fillna_win(row):
    if np.isnan(row.win):
        row.win = 0
        return row.win
    return row.win


log['win'] = log.apply(lambda row: fillna_win(row), axis=1)
log.head(15)

,user_id,time,bet,win
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,0.0,0.0
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,0.0,0.0
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,0.0,0.0
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,0.0,0.0
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,0.0,0.0
5,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,0.0
6,Запись пользователя № - user_900,[2019-01-01 4:37:25,0.0,0.0
7,Запись пользователя № - user_980,[2019-01-01 6:31:23,0.0,0.0
8,Запись пользователя № - user_906,[2019-01-02 10:57:08,0.0,0.0
9,Запись пользователя № - user_952,[2019-01-02 16:55:06,0.0,0.0
10,Запись пользователя № - user_972,[2019-01-02 20:47:54,0.0,0.0
11,Запись пользователя № - user_966,[2019-01-02 21:32:20,0.0,0.0
12,Запись пользователя № - user_964,[2019-01-02 21:32:35,0.0,0.0
13,Запись пользователя № - user_978,[2019-01-02 5:25:40,0.0,0.0
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0

In [10]:
log['net'] = log.win - log.bet
log.loc[log.net > 0].mean().round(0)

bet    15368.0
win    95621.0
net    80253.0
dtype: float64

In [11]:
log.loc[log.net > 0].median().round()

bet     600.0
win    5935.0
net    5347.0
dtype: float64

In [16]:
(len(log.bet.loc[log.bet > 0]) / len(log.bet)) * 100

48.5

In [21]:
int(log.bet.loc[log.bet > 0].mean())

6785

In [22]:
int(log.net.loc[log.bet > 0].mean())

20421

In [24]:
int(log.net.loc[log.net < 0].mean())

-3372

In [25]:
len(log.net.loc[(log.bet > 0) & (log.net > 0)]) / len(log.net.loc[log.bet > 0])

0.2845360824742268

In [26]:
len(log.net.loc[(log.bet > 0) & (log.net < 0)]) / len(log.net.loc[log.bet > 0])

0.7154639175257732