In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

log = pd.read_csv('log.csv', header=None, names=['user_id', 'time', 'bet', 'win'])

In [3]:
log = log.dropna()

In [4]:
log.info()
log.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 14 to 991
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  133 non-null    object
 1   time     133 non-null    object
 2   bet      133 non-null    float64
 3   win      133 non-null    float64
dtypes: float64(2), object(2)
memory usage: 5.2+ KB

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0

In [6]:
log.time = log.time.apply(lambda x: x[1:])
log.time = pd.to_datetime(log['time'])

In [8]:
log['hour'] = log.time.apply(lambda x: x.hour)
log.head()

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5