In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta

In [2]:
main = pd.read_csv('main_task.csv')

In [ ]:
main.info()

In [ ]:
main.head(5)

In [ ]:
main.iloc[16]

In [ ]:
list_city = list(main['City'].unique())

In [ ]:
main['City'].value_counts()

In [ ]:
main['Price Range'].value_counts()

In [3]:
main['Cuisine Style'].fillna("['Not data']", axis=0, inplace=True)
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [4]:
main['Cuisine Style'] = main['Cuisine Style'].apply(lambda x: x[2:-2])

In [5]:
main['Cuisine Style'] = main['Cuisine Style'].str.split("', '")

In [ ]:
main['Cuisine Style']

In [6]:
cuisins = set()
for cuisins_style in main['Cuisine Style']:
    for cuisin in cuisins_style:
        cuisins.add(cuisin)

len(cuisins)

126

In [7]:
popular_cuisins = {}
for item in cuisins:
    popular_cuisins[item] = 0
for cuisins in main['Cuisine Style']:
    for item in cuisins:
        popular_cuisins[item] += 1
        
popular_cuisins

{'Wine Bar': 697,
 'European': 10060,
 'Romanian': 10,
 'Danish': 177,
 'Seafood': 1505,
 'Yunnan': 1,
 'Cafe': 2325,
 'Mongolian': 14,
 'Cambodian': 20,
 'Croatian': 27,
 'Moroccan': 141,
 'Central Asian': 12,
 'Burmese': 1,
 'Fujian': 2,
 'Halal': 598,
 'Welsh': 2,
 'Belgian': 270,
 'Chilean': 8,
 'Polish': 365,
 'Brazilian': 127,
 'German': 662,
 'Diner': 295,
 'Xinjiang': 1,
 'Fast Food': 1705,
 'Pakistani': 123,
 'Central American': 135,
 'Azerbaijani': 2,
 'Japanese': 1464,
 'Scottish': 163,
 'Afghani': 22,
 'Grill': 490,
 'Indian': 1041,
 'Korean': 167,
 'Caucasian': 4,
 'Delicatessen': 392,
 'Israeli': 74,
 'Arabic': 51,
 'Irish': 284,
 'Pizza': 2849,
 'Balti': 83,
 'South American': 372,
 'Taiwanese': 22,
 'Chinese': 1145,
 'Singaporean': 19,
 'Thai': 743,
 'Hawaiian': 21,
 'Dutch': 294,
 'Austrian': 380,
 'Brew Pub': 225,
 'Mediterranean': 6277,
 'Norwegian': 75,
 'Asian': 3011,
 'Swiss': 178,
 'Vegetarian Friendly': 11189,
 'Sushi': 1156,
 'Barbecue': 555,
 'Slovenian': 68,
 'Native American': 4,
 'Armenian': 14,
 'Peruvian': 94,
 'Venezuelan': 40,
 'Caribbean': 93,
 'Steakhouse': 573,
 'American': 1315,
 'Persian': 53,
 'Vegan Options': 4486,
 'Vietnamese': 513,
 'French': 3190,
 'New Zealand': 6,
 'Pub': 2449,
 'Filipino': 12,
 'Salvadoran': 1,
 'Central European': 1393,
 'Albanian': 8,
 'Latvian': 1,
 'Middle Eastern': 782,
 'Soups': 494,
 'Tibetan': 24,
 'Colombian': 20,
 'Street Food': 263,
 'Italian': 5964,
 'Mexican': 445,
 'Polynesian': 2,
 'Hungarian': 352,
 'Gastropub': 471,
 'African': 154,
 'Uzbek': 5,
 'Georgian': 17,
 'Fusion': 577,
 'Jamaican': 25,
 'Tunisian': 21,
 'Argentinean': 169,
 'Portuguese': 1107,
 'Sri Lankan': 25,
 'Gluten Free Options': 4113,
 'Ecuadorean': 4,
 'Nepali': 83,
 'Bangladeshi': 76,
 'Spanish': 2798,
 'Czech': 595,
 'Cuban': 23,
 'Greek': 604,
 'Australian': 24,
 'Eastern European': 496,
 'Cajun & Creole': 20,
 'British': 1595,
 'Not data': 9283,
 'Southwestern': 17,
 'Contemporary': 523,
 'Lebanese': 329,
 'Scandinavian': 342,
 'Healthy': 620,
 'Latin': 302,
 'Russian': 58,
 'Egyptian': 20,
 'Indonesian': 59,
 'Canadian': 5,
 'Kosher': 48,
 'International': 1584,
 'Minority Chinese': 11,
 'Ethiopian': 42,
 'Bar': 3297,
 'Malaysian': 31,
 'Turkish': 444,
 'Ukrainian': 18,
 'Swedish': 171}

In [8]:
main['Many cuisins'] = main['Cuisine Style'].apply(lambda x: len(x))

In [ ]:
main['Many cuisins'].mean()

In [ ]:
main['Reviews'][0]

In [ ]:
main['Reviews'][3]

In [9]:
main['Date reviews'] = main['Reviews'].apply(lambda x: re.findall(r'\d{2}/\d{2}/\d{4}', x))

In [10]:
main['Date reviews'].head(20)

0     [12/31/2017, 11/20/2017]
1     [07/06/2017, 06/19/2016]
2     [01/08/2018, 01/06/2018]
3                           []
4     [11/18/2017, 02/19/2017]
5     [09/16/2017, 05/31/2017]
6     [08/04/2017, 11/05/2017]
7     [02/16/2014, 06/13/2012]
8                           []
9     [11/07/2017, 03/27/2017]
10                          []
11    [12/15/2017, 11/22/2017]
12    [01/07/2018, 12/27/2017]
13    [07/25/2017, 05/30/2017]
14                          []
15    [12/01/2017, 09/14/2017]
16                [04/12/2017]
17    [02/28/2017, 10/31/2016]
18    [08/16/2017, 10/21/2016]
19    [04/12/2016, 08/13/2015]
Name: Date reviews, dtype: object

In [ ]:
main.info()

In [11]:
time_date = set()
for date_reviews in main['Date reviews']:
    for date in date_reviews:
        time_date.add(date)

time_date = list(time_date)
#time_date = time_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
time_date = [datetime.strptime(x, '%m/%d/%Y') for x in time_date]

In [23]:
import time

time.ctime(max(list(map(datetime.timestamp, time_date))))

'Mon Feb 26 00:00:00 2018'

In [19]:
for i in range(len(main['Date reviews'])):
    main['Date reviews'][i] = [datetime.strptime(x, '%m/%d/%Y') for x in main['Date reviews'][i]]

C:\Users\obond\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
main['Date reviews'][0]

[datetime.datetime(2017, 12, 31, 0, 0), datetime.datetime(2017, 11, 20, 0, 0)]

In [26]:
max_time_delta = 0
for date_reviews in main['Date reviews']:
    if len(date_reviews) == 2:
        delta = abs(date_reviews[0] - date_reviews[1])
        if delta.days > max_time_delta:
            max_time_delta = delta.days
            
            
max_time_delta

3207