In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('car_parser.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59292 entries, 0 to 59291
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   brand                  59292 non-null  object
 1   model_name             59292 non-null  object
 2   generation             59292 non-null  object
 3   engine_displacement    59288 non-null  object
 4   engine_power           59288 non-null  object
 5   vehicle_transmissione  59288 non-null  object
 6   fuel_type              57502 non-null  object
 7   drive_unit             59288 non-null  object
 8   vendor                 59288 non-null  object
 9   number_of_doors        59287 non-null  object
 10  url_car                59292 non-null  object
 11  price                  53895 non-null  object
 12  sell_id                0 non-null      float64
 13  production_date        59292 non-null  int64
 14  mileage                59292 non-null  object
 15  body_type              59292 non-null  object
 16  color                  59292 non-null  object
 17  steering_position      59292 non-null  object
 18  condition              59284 non-null  object
 19  owners                 59283 non-null  object
 20  possession             17689 non-null  object
 21  PTS                    59289 non-null  object
 22  customs                59291 non-null  object
 23  description            57460 non-null  object
dtypes: float64(1), int64(1), object(22)
memory usage: 10.9+ MB

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
df.head()

,brand,model_name,generation,engine_displacement,engine_power,vehicle_transmissione,fuel_type,drive_unit,vendor,number_of_doors,url_car,price,sell_id,production_date,mileage,body_type,color,steering_position,condition,owners,possession,PTS,customs,description
0,Audi,Q7,I (4L),3.6 л,280 л.с.,автомат,бензин,полный,Германия,5,https://auto.ru/cars/used/sale/audi/q7/1102251...,780 000 ₽,NaN,2007,185 000 км,внедорожник 5 дв.,серый,Левый,Не требует ремонта,3 или более,NaN,Оригинал,Растаможен,7 МЕСТ!!ПАНОРАМНАЯ КРЫША!!4-х ЗОННЫЙ КЛИМАТ КО...
1,Audi,A6 allroad,III (C7) Рестайлинг,3.0 л,333 л.с.,робот,бензин,полный,Германия,5,https://auto.ru/cars/used/sale/audi/allroad/11...,2 650 000 ₽,NaN,2016,91 000 км,универсал 5 дв.,чёрный,Левый,Не требует ремонта,2 владельца,3 года и 1 месяц,Оригинал,Растаможен,По ПТС 2016г. ПТС ОРИГИНАЛ. Два собственника Ю...
2,Audi,A4,II (B6),2.0 л,130 л.с.,вариатор,бензин,передний,Германия,4,https://auto.ru/cars/used/sale/audi/a4/1102312...,350 000 ₽,NaN,2001,251 000 км,седан,серебристый,Левый,Не требует ремонта,3 или более,NaN,Дубликат,Растаможен,Авто в хорошем состоянии для своих лет много п...
3,Audi,Q3,I (8U),2.0 л,170 л.с.,робот,бензин,полный,Германия,5,https://auto.ru/cars/used/sale/audi/q3/1102057...,NaN,NaN,2013,80 000 км,внедорожник 5 дв.,чёрный,Левый,Не требует ремонта,2 владельца,NaN,Оригинал,Растаможен,"Оригинал ПТС!Все 100% автомобилей, проходят хи..."
4,Audi,A4,IV (B8) Рестайлинг,1.8 л,170 л.с.,вариатор,бензин,передний,Германия,4,https://auto.ru/cars/used/sale/audi/a4/1101876...,NaN,NaN,2013,79 720 км,седан,чёрный,Левый,Не требует ремонта,2 владельца,NaN,Оригинал,Растаможен,Автомобиль куплен новым у дилера.Оригинал ПТС....

In [9]:
df.brand.value_counts()

LADA (ВАЗ)       4862
Mercedes-Benz    4659
BMW              3898
Volkswagen       3741
Kia              3670
Hyundai          3375
Nissan           3077
Toyota           3007
Ford             2712
Audi             2376
Skoda            2041
Chevrolet        2003
Renault          1854
Opel             1852
Mitsubishi       1780
Mazda            1520
Volvo            1001
Land Rover       1001
Peugeot           892
Lexus             743
Honda             743
УАЗ               669
ГАЗ               668
Citroen           632
Infiniti          595
Porsche           557
Suzuki            521
Daewoo            521
Subaru            447
SsangYong         409
Jeep              335
Chery             261
Dodge             261
Jaguar            261
Chrysler          224
Great Wall        224
Cadillac          224
MINI              223
Fiat              187
ЗАЗ               186
Москвич           150
Lifan             147
Saab              113
Bentley           113
Geely             113
Smart             111
Datsun            111
ИЖ                 74
SEAT               74
Ravon              74
Name: brand, dtype: int64

In [11]:
df.engine_displacement.unique()

array(['3.6 л', '3.0 л', '2.0 л', '1.8 л', '2.3 л', '1.4 л', '6.3 л',
       '2.8 л', '436 км', '4.2 л', '1.2 л', '4.0 л', '2.9 л', '336 км',
       '3.1 л', '1.6 л', '4.1 л', '1.9 л', '2.5 л', '2.4 л', '3.2 л',
       '5.2 л', '5.9 л', '3.7 л', '5.0 л', '2.7 л', '3.3 л', '2.2 л',
       '1.5 л', '2.1 л', '2.6 л', '6.0 л', '6.8 л', '4.4 л', '6.2 л', nan,
       '3.4 л', '6.6 л', '4.8 л', '0.7 л', '200 км', '4.9 л', '260 км',
       '5.4 л', '3.8 л', '0.6 л', '3.9 л', '3.5 л', '4.6 л', '130 км',
       '6.4 л', '7.7 л', '4.5 л', '5.7 л', '5.3 л', '8.2 л', '1.3 л',
       '0.8 л', '1.1 л', '1.7 л', '1.0 л', '6.5 л', '7.0 л', '8.1 л',
       '4.3 л', '322 км', '7.4 л', '132 км', '6.1 л', '7.2 л', '4.7 л',
       '6.7 л', '0.5 л', '140 км', '0.9 л', '5.8 л', '7.3 л', '5.6 л',
       '480 км', '250 км', '150 км', '5.5 л', '67 л.с.', '400 км',
       '175 км', '199 км', '412 км', '100 км', '50 км', '115 л.с.'],
      dtype=object)

In [12]:
df.url_car[df.engine_displacement == '67 л.с.']

36465    https://auto.ru/cars/used/sale/mitsubishi/i_mi...
Name: url_car, dtype: object

In [13]:
df.url_car[36465]

'https://auto.ru/cars/used/sale/mitsubishi/i_miev/1101238446-ecb3e3f6/'

In [16]:
df.engine_power[df.engine_displacement == '115 л.с.'] = '115 л.с.'

C:\Users\bou\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df.engine_power.unique()

array(['280 л.с.', '333 л.с.', '130 л.с.', '170 л.с.', '249 л.с.',
       '340 л.с.', '245 л.с.', '133 л.с.', '211 л.с.', '310 л.с.',
       '150 л.с.', '500 л.с.', '180 л.с.', '125 л.с.', '204 л.с.',
       '230 л.с.', '122 л.с.', '120 л.с.', '239 л.с.', '408 л.с.',
       '350 л.с.', '105 л.с.', '422 л.с.', '250 л.с.', '450 л.с.',
       '190 л.с.', '225 л.с.', '313 л.с.', '200 л.с.', '435 л.с.',
       '220 л.с.', '160 л.с.', '177 л.с.', '300 л.с.', '102 л.с.',
       '163 л.с.', '143 л.с.', '218 л.с.', '90 л.с.', '460 л.с.',
       '290 л.с.', '165 л.с.', '140 л.с.', '354 л.с.', '560 л.с.',
       '233 л.с.', '238 л.с.', '265 л.с.', '271 л.с.', '610 л.с.',
       '101 л.с.', '112 л.с.', '256 л.с.', '174 л.с.', '272 л.с.',
       '88 л.с.', '110 л.с.', '420 л.с.', '255 л.с.', '520 л.с.',
       '193 л.с.', '605 л.с.', '367 л.с.', '525 л.с.', '372 л.с.',
       '580 л.с.', '260 л.с.', '430 л.с.', '75 л.с.', '3 км', '335 л.с.',
       '115 л.с.', '113 л.с.', '85 л.с.', '224 л.с.', '360 л.с.',
       '240 л.с.', '210 л.с.', '136 л.с.', '326 л.с.', '137 л.с.',
       '338 л.с.', '155 л.с.', '70 л.с.', '254 л.с.', '252 л.с.',
       '270 л.с.', '100 л.с.', '625 л.с.', '507 л.с.', '512 л.с.',
       '575 л.с.', '635 л.с.', '608 л.с.', '528 л.с.', '537 л.с.',
       '552 л.с.', '405 л.с.', nan, '184 л.с.', '55 км', '320 л.с.',
       '530 л.с.', '231 л.с.', '600 л.с.', '400 л.с.', '306 л.с.',
       '192 л.с.', '185 л.с.', '555 л.с.', '235 л.с.', '258 л.с.',
       '156 л.с.', '116 л.с.', '269 л.с.', '381 л.с.', '407 л.с.',
       '197 л.с.', '286 л.с.', '387 л.с.', '264 л.с.', '431 л.с.',
       '609 л.с.', '462 л.с.', '355 л.с.', '445 л.с.', '544 л.с.',
       '510 л.с.', '370 л.с.', '129 л.с.', '118 л.с.', '343 л.с.',
       '321 л.с.', '19 л.с.', '139 л.с.', '188 л.с.', '347 л.с.',
       '51 л.с.', '171 л.с.', '46 л.с.', '410 л.с.', '409 л.с.',
       '324 л.с.', '426 л.с.', '318 л.с.', '314 л.с.', '175 л.с.',
       '311 л.с.', '276 л.с.', '649 л.с.', '173 л.с.', '564 л.с.',
       '325 л.с.', '305 л.с.', '226 л.с.', '380 л.с.', '135 л.с.',
       '330 л.с.', '309 л.с.', '158 л.с.', '295 л.с.', '279 л.с.',
       '322 л.с.', '299 л.с.', '304 л.с.', '119 л.с.', '126 л.с.',
       '132 л.с.', '94 л.с.', '109 л.с.', '83 л.с.', '106 л.с.',
       '117 л.с.', '52 л.с.', '53 л.с.', '147 л.с.', '68 л.с.',
       '141 л.с.', '455 л.с.', '80 л.с.', '167 л.с.', '84 л.с.',
       '72 л.с.', '86 л.с.', '121 л.с.', '273 л.с.', '67 л.с.',
       '466 л.с.', '294 л.с.', '312 л.с.', '288 л.с.', '172 л.с.',
       '365 л.с.', '437 л.с.', '513 л.с.', '344 л.с.', '328 л.с.',
       '275 л.с.', '85 км', '285 л.с.', '182 л.с.', '589 л.с.',
       '282 л.с.', '213 л.с.', '145 л.с.', '124 л.с.', '92 л.с.',
       '301 л.с.', '131 л.с.', '161 л.с.', '403 л.с.', '441 л.с.',
       '162 л.с.', '63 л.с.', '152 л.с.', '79 л.с.', '97 л.с.',
       '253 л.с.', '203 л.с.', '296 л.с.', '214 л.с.', '283 л.с.',
       '248 л.с.', '425 л.с.', '287 л.с.', '215 л.с.', '189 л.с.',
       '257 л.с.', '164 л.с.', '396 л.с.', '114 л.с.', '127 л.с.',
       '95 л.с.', '82 л.с.', '128 л.с.', '71 л.с.', '69 л.с.', '138 л.с.',
       '98 л.с.', '207 л.с.', '61 л.с.', '107 л.с.', '64 л.с.',
       '148 л.с.', '41 л.с.', '38 л.с.', '87 л.с.', '492 л.с.',
       '375 л.с.', '345 л.с.', '364 л.с.', '395 л.с.', '166 л.с.',
       '477 л.с.', '149 л.с.', '144 л.с.', '77 л.с.', '18 л.с.',
       '111 л.с.', '60 л.с.', '103 л.с.', '73 л.с.', '55 л.с.', '78 л.с.',
       '317 л.с.', '199 л.с.', '96 л.с.', '411 л.с.', '123 л.с.',
       '212 л.с.', '262 л.с.', '662 л.с.', '181 л.с.', '263 л.с.',
       '202 л.с.', '228 л.с.', '40 л.с.', '232 л.с.', '20 л.с.',
       '205 л.с.', '242 л.с.', '66 л.с.', '178 л.с.', '50 л.с.',
       '243 л.с.', '194 л.с.', '281 л.с.', '201 л.с.', '58 л.с.',
       '142 л.с.', '186 л.с.', '154 л.с.', '91 л.с.', '247 л.с.',
       '334 л.с.', '146 л.с.', '315 л.с.', '373 л.с.', '99 л.с.',
       '81 л.с.', '93 л.с.', '179 л.с.', '222 л.с.', '307 л.с.',
       '221 л.с.', '302 л.с.', '284 л.с.', '168 л.с.', '278 л.с.',
       '234 л.с.', '363 л.с.', '550 л.с.', '385 л.с.', '196 л.с.',
       '268 л.с.', '416 л.с.', '298 л.с.', '468 л.с.', '352 л.с.',
       '241 л.с.', '169 л.с.', '261 л.с.', '65 л.с.', '62 л.с.',
       '187 л.с.', '266 л.с.', '424 л.с.', '198 л.с.', '195 л.с.',
       '274 л.с.', '74 л.с.', '33 л.с.', '59 л.с.', '89 л.с.', '35 л.с.',
       '76 л.с.', '54 л.с.', '29 л.с.', '292 л.с.', '339 л.с.',
       '390 л.с.', '565 л.с.', '421 л.с.', '208 л.с.', '277 л.с.',
       '394 л.с.', '223 л.с.', '383 л.с.', '303 л.с.', '104 л.с.',
       '244 л.с.', '151 л.с.', '153 л.с.', '612 л.с.', '585 л.с.',
       '388 л.с.', '591 л.с.', '639 л.с.', '558 л.с.', '571 л.с.',
       '469 л.с.', '557 л.с.', '401 л.с.', '517 л.с.', '514 л.с.',
       '476 л.с.', '487 л.с.', '626 л.с.', '630 л.с.', '522 л.с.',
       '32 л.с.', '382 л.с.', '227 л.с.', '209 л.с.', '49 л.с.',
       '48 л.с.', '540 л.с.', '485 л.с.', '108 л.с.', '44 л.с.',
       '45 л.с.', '440 л.с.', '480 л.с.', '761 л.с.', '475 л.с.',
       '650 л.с.', '18 км', '570 л.с.', '11 л.с.', '308 л.с.', '159 л.с.',
       '7 л.с.', '157 л.с.', '183 л.с.', '57 л.с.', '42 л.с.', '27 л.с.',
       '30 л.с.', '26 л.с.', '23 л.с.'], dtype=object)

In [27]:
df.url_car[df.engine_power == '3 км']

725    https://auto.ru/cars/used/sale/audi/q5/1102273...
Name: url_car, dtype: object

In [28]:
df.url_car[725]

'https://auto.ru/cars/used/sale/audi/q5/1102273139-d8af8202/'

In [29]:
df.engine_power[df.engine_power == '3 км'] = '211 л.с.'

C:\Users\bou\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df.vehicle_transmissione.value_counts()

автомат     29886
механика    20521
робот        5256
вариатор     3609
231 л.с.        7
электро         5
101 л.с.        2
211 л.с.        1
333 л.с.        1
Name: vehicle_transmissione, dtype: int64

In [44]:
df.url_car[df.vehicle_transmissione == '231 л.с.']

2492    https://auto.ru/cars/used/sale/bmw/i8/11018049...
2530    https://auto.ru/cars/used/sale/bmw/i8/11018049...
6201    https://auto.ru/cars/used/sale/bmw/i8/11018049...
6239    https://auto.ru/cars/used/sale/bmw/i8/11018049...
6277    https://auto.ru/cars/used/sale/bmw/i8/11018049...
6315    https://auto.ru/cars/used/sale/bmw/i8/11018049...
6353    https://auto.ru/cars/used/sale/bmw/i8/11018049...
Name: url_car, dtype: object

In [45]:
df.url_car[2492]

'https://auto.ru/cars/used/sale/bmw/i8/1101804949-f251e1da/'

In [46]:
df.vehicle_transmissione[df.vehicle_transmissione == '231 л.с.'] = 'автомат'

C:\Users\bou\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
df.fuel_type.value_counts()

бензин      49388
дизель       7913
гибрид        179
СУГ            11
автомат         9
вариатор        2
Name: fuel_type, dtype: int64

In [51]:
df.url_car[df.fuel_type == 'автомат']

725      https://auto.ru/cars/used/sale/audi/q5/1102273...
2492     https://auto.ru/cars/used/sale/bmw/i8/11018049...
2530     https://auto.ru/cars/used/sale/bmw/i8/11018049...
6201     https://auto.ru/cars/used/sale/bmw/i8/11018049...
6239     https://auto.ru/cars/used/sale/bmw/i8/11018049...
6277     https://auto.ru/cars/used/sale/bmw/i8/11018049...
6315     https://auto.ru/cars/used/sale/bmw/i8/11018049...
6353     https://auto.ru/cars/used/sale/bmw/i8/11018049...
43820    https://auto.ru/cars/used/sale/porsche/cayenne...
Name: url_car, dtype: object

In [54]:
df.url_car[43820]

'https://auto.ru/cars/used/sale/porsche/cayenne/1102188087-5ade2b77/'

In [55]:
df.fuel_type[df.fuel_type == 'автомат'] = 'гибрид'

C:\Users\bou\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [799]:
df.drive_unit.value_counts()

передний    32538
полный      19558
задний       7192
Name: drive_unit, dtype: int64

In [782]:
df.url_car[df.drive_unit == 'АИ-95']

38993    https://auto.ru/cars/used/sale/nissan/stagea/1...
39366    https://auto.ru/cars/used/sale/nissan/bluebird...
39451    https://auto.ru/cars/used/sale/nissan/otti/110...
39729    https://auto.ru/cars/used/sale/nissan/cefiro/1...
40142    https://auto.ru/cars/used/sale/nissan/altima/1...
40247    https://auto.ru/cars/used/sale/nissan/gloria/1...
40335    https://auto.ru/cars/used/sale/nissan/cefiro/1...
40627    https://auto.ru/cars/used/sale/nissan/bluebird...
40752    https://auto.ru/cars/used/sale/nissan/sunny/11...
40849    https://auto.ru/cars/used/sale/nissan/prairie/...
Name: url_car, dtype: object

In [797]:
df.url_car[40849]

'https://auto.ru/cars/used/sale/nissan/prairie/1101698810-4901c1be/'

In [798]:
df.drive_unit[(df.brand=='Nissan')&(df.model_name=='Prairie')] = 'передний'

C:\Users\bou\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1049]:
df.vendor.value_counts()

Германия          17194
Япония            12544
Южная Корея        7975
Россия             6423
США                5759
Франция            3378
Чехия              2041
Великобритания     1598
Швеция             1114
Китай               745
Италия              187
Украина             186
Испания              74
Узбекистан           74
Name: vendor, dtype: int64

In [1046]:
df.url_car[df.vendor == 'J']

13524    https://auto.ru/cars/used/sale/geely/atlas/110...
13533    https://auto.ru/cars/used/sale/geely/emgrand_x...
13536    https://auto.ru/cars/used/sale/geely/atlas/110...
13537    https://auto.ru/cars/used/sale/geely/atlas/110...
13540    https://auto.ru/cars/used/sale/geely/emgrand_x...
13546    https://auto.ru/cars/used/sale/geely/atlas/109...
13549    https://auto.ru/cars/used/sale/geely/emgrand_x...
13562    https://auto.ru/cars/used/sale/geely/atlas/110...
13572    https://auto.ru/cars/used/sale/geely/emgrand_x...
13575    https://auto.ru/cars/used/sale/geely/atlas/110...
13576    https://auto.ru/cars/used/sale/geely/atlas/110...
13579    https://auto.ru/cars/used/sale/geely/emgrand_x...
13585    https://auto.ru/cars/used/sale/geely/atlas/109...
13587    https://auto.ru/cars/used/sale/geely/emgrand_x...
13613    https://auto.ru/cars/used/sale/geely/emgrand_x...
13626    https://auto.ru/cars/used/sale/geely/emgrand_x...
13633    https://auto.ru/cars/used/sale/geely/atlas/110...
Name: url_car, dtype: object

In [1047]:
df.url_car[13546]

'https://auto.ru/cars/used/sale/geely/atlas/1099128840-addde401/'

In [1048]:
df.vendor[df.brand == 'Geely'] = 'Китай'

C:\Users\bou\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1050]:
df.number_of_doors.unique()

array(['5', '4', '2', '4901', '3', '1610', 'J', '4573', '5034', '4790',
       '4390', '4394', '4, 5', '5378', nan, 'S', '4859', '4910', '1450',
       '3999', '4011', '4230', '1375', '4325', '1641', '1630', '1500',
       '5, 7', '4321', '7, 8', '5697', '2037', '4643', '2000', '5202',
       '4846', '5240', '1380', '7', '4200', '5560', '5278', '5131',
       '4837', '4893', '2019', '2360', '4836', '4775', '5844', '4788',
       '9', '5570', '1768', 'C', '5558', '4166', '4 / 5', '1758', '1430',
       '4877', '5631', '1615', '2022', '4526', '5, 6', '4625', '4059',
       '4602', '5103', '6062', '6025', '5052', '4908', '3632', '4805',
       '5218', '4552', '5095', '5268', '4902', '5155', '6, 7', '4380',
       '1803', '1470', '4590', '4770', '5816', '1948', '6', '6297',
       '4755', '4560', '5308', '2120', '4536', '1320', '3546', '6, 9',
       '5 / 5', '1722', '1832', '3 / 5', '4354', '8', '2 / 5', '4450',
       '5603', '4613', '4480', '5050', '5382', '4585', '4572', '1649',
       '4630', '4520', '5253', '5413', '5227', '1702', '5364', '5758',
       '5088', '4930', '4760', '4653', '1765', '5, 9', '1800', '3950',
       '4813', '5006', '1600', '4834', '1695', '4810', '5565', '4740',
       '4610', '5397', '4440', '5230', '4340', '1701', '4438', '4362',
       '3 / 4', '4870', '4774', '4882', '4190', '4574', '7, 9', '4470',
       '4455', '4110', '4570', '4460', '4395', '4690', '1475', '5150',
       '1820', '4695', '4685', '4530', '4747', '4085', '4820', '4117',
       '4816', '4845', '4322', '3883', '4550', '4350', '4360', '4140',
       '4245', '5550', '11', '1810', '3595', '4040', '4445', '5, 8',
       '5047', '4429', '3808', '3925', '4490', '1763', '4655', '4670',
       '1645', '1690', '4990', '4315', '1575', '4430', '4580', '1750',
       '1590', '4665', '4295', '4700', '5008', '4686', '4880', '2, 4',
       '5286', '4660', '5140', '2255', '4285', '6158', '4725', '4640',
       '4290', '5238', '4950', '1880', '4920', '4595', '3295', '6, 8',
       '4600', '1680', '4075', '4515', '4420', '3885', '4830', '4275',
       '4100', '3395', '4320', '4650', '4720', '4400', '4821', '4915',
       '4620', '5280', '1775', '1689', '4800', '3720', '4885', '4890',
       '4565', '4850', '3825', '1679', '3695', '4636', '3980', '4795',
       '4780', '4860', '4675', '4825', '4895', '4522', '4229', '4545',
       '1540', '1580', '1573', '1625', '1420', '4212', '4703', '4137',
       '4146', '4963', '1295', '1670', '4250', '1191', '4559', '3859',
       '4202', '3430', '4205', '1520', '1400', '1620', '4485', '4415',
       '4635', '3645', '3470', '4031', '4150', '4125', '3560', '3745',
       '5300', '4300', '4801', '5220', '3635', '4705', '5809', '1095',
       '4715', '4966', '5105', '4970', '4, 8', '4995', '4875', '5380',
       '4351', '3841', '5250', '3995', '4500', '4840', '3900', '5210',
       '5260', '4070', '4215', '1655', '5545', '4330', '4171', '4750',
       '3970', '3990', '4435', '4045', '4145', '3955', '4214', '4155',
       '3785', '4410', '4365', '4270', '4080', '5090', '4865', '1440',
       '5036', '4053', '2, 3', 'EuroNCAP', '1845', '1960', '4789', '1840',
       '4060', '4569', '5292', '1665', '4659', '1700', '4669', '4707',
       '1707', '4735', '3850', '1790', '5700', '3730', '4210', '5125',
       '4025'], dtype=object)

In [1051]:
df.to_csv('car_parser_ver02.csv', index=False)